$progress-indicator-complete: $ci-1;
$progress-indicator-current: lighten($ci-3, 10%);
$progress-indicator-incomplete: $ci-5;
$progress-indicator-step-size: 1.5em;
$progress-indicator-width: 100%;
$light-gray: $ci-5;
$medium-gray: $grey-8;
$dark-gray: $grey-12;

.progress-indicator {
  list-style: none;
  width: $progress-indicator-width;
  margin: 0 auto;
  padding: 0;
  display: table;
  table-layout: fixed;

  > li {
    position: relative;
    display: table-cell;
    text-align: center;
    font-size: 1.5em;

    span {
      position: absolute;
      color: $light-gray;
      transform: translateX(-50%);
      font-weight: 600;
      font-size: rem-calc(14);
      letter-spacing: 0.05px;
      text-transform: uppercase;
    }

    &::before {
      content: attr(data-step);
      display: block;
      margin: 0 auto;
      background: $progress-indicator-incomplete;
      width: $progress-indicator-step-size;
      height: $progress-indicator-step-size;
      text-align: center;
      margin-bottom: 0.25em;
      line-height: $progress-indicator-step-size;
      border-radius: 100%;
      position: relative;
      z-index: 1000;
    }

    &::after {
      content: '';
      position: absolute;
      display: block;
      background: $progress-indicator-incomplete;
      width: 100%;
      height: $progress-indicator-step-size/10;
      top: 50%; // height of bar
      transform: translateY(-100%);
      left: 50%;
      margin-left: 1.5em\9;
      z-index: 0;
    }

    &:last-child:after {
      display: none;
    }

    &.is-complete {
      color: $progress-indicator-complete;

      &::before,
      &::after {
        color: $white;
        background: $progress-indicator-complete;
      }

      span {
        color: $progress-indicator-complete;
      }
    }

    &.is-current {
      color: $progress-indicator-current;

      &::before {
        color: $white;
        background: $progress-indicator-current;
      }

      span {
        color: $progress-indicator-current;
      }
    }
  }
}


.featured-image-block-grid-header {
  margin-left: auto;
  margin-right: auto;
}

.featured-image-block {

  margin-bottom: 20px;
  
  .featured-image-block-title {
    font-weight: 600;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1em;
    color: #404040;
  }
 
  a:hover {
    p {
      
    }
  }
}



.ecommerce-product-slider {
  .orbit-previous,
  .orbit-next {
    color: $medium-gray;
  }

  .orbit-bullets button {
    height: 0.65rem;
    width: 0.65rem;
  }

  .product-card {
    background-color: $white;
    border: 1px solid $light-gray;
    padding: 1rem;
    margin-bottom: 1.5rem;  
  }

  .product-card-thumbnail {
    display: block;
    position: relative;
  }

  .product-card-title {
    font-family: 'Open sans', sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.45rem;
    margin-top: 1rem;
    margin-bottom: 0;
  }

  .product-card-desc {
    color: $dark-gray;
    display: block;
    font-family: 'Open sans', sans-serif;
    font-size: 0.85rem;
  }

  .product-card-price {
    color: darken($dark-gray,30%);
    display: inline-block;
    font-size: 0.85rem;
    font-weight: 600;
    margin-top: 0.8rem;
  }

  .product-card-sale {
    color: $medium-gray;
    display: inline-block;
    font-size: 0.85rem;
    margin-left: 0.3rem;
    text-decoration: line-through;
  }

  .product-card-colors {
    display: block;
    margin-top: 0.8rem;
  }

  .product-card-color-option {
    display: inline-block;
    height: 25px;
    width: 25px;
  }
}




